/* 00000000 COMMONS 00000000 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #1D1D1F;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 3vh 0;
  background-image: linear-gradient(#128C7E 15%, #ECE5DD 15%);
  overflow-y: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.little-gray {
  font-size: .8rem;
  color: #727272;
}

input {
  height: 100%;
  width: 100%;
  font-size: .9rem;
  padding-left: .5rem;
  border: none;
  outline: none;
}

input:focus {
  background-color: #FAFAFA;
}

.selected {
  background-color: #E9EBEB !important;
}

.hidden {
  display: none !important;
}

/* 00000000 MAIN 00000000 */
main {
  width: 80%;
  min-width: 60rem;
  max-width: 100rem;
  height: 94vh;
  min-height: 40rem;
  display: flex;
  margin: 0 auto;
}

/* main left */
#main-left {
  width: 40%;
  height: 100%;
}

/* main header LEFT */
.main-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  padding: 0 .5rem;
}

#main-left .main-header {
  border-right: 1px solid #B1B1B1;
}

#avatar-container {
  padding: 0 .5rem;
}

#avatar-container img {
  height: 3rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.main-header i {
  font-size: 1.2rem;
  color: #B1B1B1;
  margin-right: 1rem;
}

.main-header i:hover {
  color: #6B7376;
}

/* notification section */
#notifications {
  position: relative;
  height: 5rem;
  display: flex;
  background-color: #ADE6FF;
}

#bell {
  height: 100%;
  padding: 1rem;
}

#bell i {
  height: 3rem;
  aspect-ratio: 1;
  font-size: 1.2rem;
  background-color: #F2FBFF;
  color: #ADE6FF;
  border-radius: 50%;
}

#notifications i.fa-times {
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: 1.2rem;
  color: #B1B1B1;
  display: none;
}

#notifications:hover i.fa-times {
  display: block;
}

#notifications i.fa-times:hover {
  color: #6B7376;
}

/* search section */
#search-container {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: .4rem;
}

#search-container label {
  width: 4rem;
  height: 100%;
  background-color: white;
}

#search-container i {
  color: #B1B1B1;
}

/* chat container section */
#chat-container {
  width: 100%;
  height: calc(100% - 12rem);
  overflow-y: scroll;
  background-color: #FFF;
} 

.height-fix {
  height: calc(100% - 7rem) !important;
}

.chat-box {
  height: calc(100% / 8);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
}

.chat-box:last-child {
  border-bottom: none;
}

.chat-box:hover {
  background-color: #FAFAFA;
}

#chat-container img {
  height: 70%;
  margin: 0 1rem;
  border-radius: 50%;
}

/* main right */
#main-right {
  width: 60%;
}

/* messages section */
#messages-container {
  height: calc(100% - 7rem);
  background-image: url(img/mine.jpg);
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.message {
  position: relative;
  min-width: 10rem;
  max-width: 45%;
  margin: .4rem;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: .6rem;
  overflow-wrap: break-word;
}

.sent {
  float: right;
  background-color: #DCF8C6;
}

.received {
  float: left;
  background-color: #FAFAFA;
}

.time {
  position: absolute;
  right: .6rem;
  bottom: .2rem;
  font-size: .7rem;
  font-style: italic;
}

.bin {
  position: absolute;
  top: .5rem;
  right: .4rem;
  font-size: .8rem;
  display: none;
  color: #6B7376;
}

.message:hover .bin {
  display: block;
}

.bin:hover {
  color: #FF4539;
}

/* write message section */
#write-container {
  height: 3rem;
  background-color: #EAEAEA;
  padding: .4rem;
}

.icon-container {
  width: 4rem;
}

.icon-container i {
  font-size: 1.2rem;
  color: #B1B1B1;
}

.icon-container i:hover {
  color: #6B7376;
}


/* 
+++COLORI+++
Grigio Chiarissimo: #FAFAFA
Grigio Chiaro (bg header): #EAEAEA
Grigio Scuro: #E9EBEB
Grigio Scurissimo (icone header): #B1B1B1
Grigio Caldo (bg footer): #F3EEEA
Nero (icone footer): #6B7376
Azzurro: #ADE6FF
*/